<div id='nav'>
  <div id='b0' class='block selected'>
    <form method='POST' action='/register' id='input' class='fade-in'>
      Something:<br>
      <input id='something' type='text' name='something'><br>
      Something else:<br>
      <input id='something-else' type='text' name='something_else'><br>
      username:<br>
      <input id='username' type='text' name='username'><br>
      email:<br>
      <input id='email' type='text' name='email'><br>
      <input id='btn' type='submit' name='go'>
    </form>
  </div>
  <div id='b1' class='block'></div>
  <div id='b2' class='block'></div>
  <div id='b3' class='block'></div>
  <div id='b4' class='block'></div>
  <div id='b5' class='block'></div>
</div>
